[submodule "libs/JDJsonDecoder"]
	path = libs/JDJsonDecoder
	url = https://github.com/eungkyu/JDJsonDecoder.git
[submodule "libs/AutoCoding"]
	path = libs/AutoCoding
	url = https://github.com/nicklockwood/AutoCoding.git
[submodule "b5e35f7096809b4664d4"]
	path = b5e35f7096809b4664d4
	url = https://gist.github.com/b5e35f7096809b4664d4.git
